<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="img/logos/DaysGoneGames-logo-big.png" alt="DaysGone Games" style="height: 30px; display: inline-block;">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#game">Game</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Developer</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Dev Log</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-brand">
                    <img src="img/logos/DaysGoneLOGO.png" alt="DaysGone Games" class="intro-brand-logo">
                    <span class="intro-brand-name">DaysGone Games</span>
                </div>
            </div>
        </div>
    </header>
